<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
  <link href="//www.mdui.org/source/dist/css/mdui.min.css?v=0.4.3" rel="stylesheet">
  <link href="//www.mdui.org/docs/assets/highlight-9.12.0/styles/github-gist.css" rel="stylesheet">
  <link href="//www.mdui.org/docs/assets/highlight-9.12.0/styles/railscasts.css" rel="stylesheet">
  <link href="//www.mdui.org/docs/assets/docs/css/docs.css?v=20170815" rel="stylesheet">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
  <meta charset="utf-8"
        content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1"
        name="viewport">
  <meta content="yes" name="mobile-web-app-capable">
  <meta content="#ffffff" id="theme-color" name="theme-color">
  <base target="_blank">
  <title>Young & Wild & Free Live Chat</title>
</head>

<body class="mdui-appbar-with-toolbar mdui-theme-accent-red mdui-loaded mdui-theme-primary-blue-grey mdui-theme-layout-dark">
<header class="mdui-appbar mdui-appbar-fixed">
  <!-- top nav bar div-->
  <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-typo-headline mdui-text-color-white">
            <a th:href="@{/}" target="_self">
            <img class="banner" src="images/banner_white.png" style="height: 45px; vertical-align: middle">
            </a>
        </span>
    <div class="mdui-typo-body-1" target="_self" th:href="@{/#}">Home</div>
    <div class="mdui-typo-body-1" target="_self" th:href="@{/#}">Top 50</div>
    <div class="mdui-typo-body-1" target="_self" th:href="@{/#}">Recently Added</div>
    <div class="mdui-typo-body-1" target="_self" th:href="@{/#}">My List</div>

    <div class="mdui-toolbar-spacer"></div>
    <a class="mdui-btn mdui-btn-icon" target="_self" th:href="@{/signin}"
       th:if="${session.isEmpty()}">
      <i class="mdui-icon material-icons mdui-text-color-white-icon">vpn_key</i>
    </a>
    <a class="mdui-btn mdui-btn-icon" target="_self" th:href="@{/logout}"
       th:unless="${session.isEmpty()}">
      <i class="mdui-icon material-icons mdui-text-color-white-icon">exit_to_app</i>
    </a>
  </div>
</header>
<section layout:fragment="content">
  <p>This is a paragraph from the content page<</p>
</section>

<h1 th:text="${session.username}" style="color: white"></h1>

<script src="//www.mdui.org/docs/assets/smooth-scroll-11.1.0/smooth-scroll.min.js"></script>
<script src="//www.mdui.org/docs/assets/holder-2.9.4/holder.min.js"></script>
<script src="//www.mdui.org/docs/assets/highlight-9.12.0/highlight.pack.js"></script>
<script src="//www.mdui.org/source/dist/js/mdui.min.js?v=0.4.3"></script>
<script src="//www.mdui.org/docs/assets/docs/js/docs.js?v=20170815"></script>
<script src="//www.mdui.org/docs/assets/clipboard-1.6.1/clipboard.min.js"></script>
</body>
</html>

