<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="comm-layout">
<body>
<section layout:fragment="content">
    <!-- left nav list div-->
    <div class="mdui-drawer">
        <div class="mdui-list" style="margin-bottom: 76px;">
            <div class="mdui-collapse-item ">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-white">live_tv</i>
                    <div class="mdui-list-item-content">On Air Live</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-white">play_circle_filled</i>
                    <div class="mdui-list-item-content">VOD</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-red">fiber_manual_record</i>
                    <a class="mdui-list-item-content" href="/room">방송하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mdui-container" style="margin-bottom: 80px;">
        <form action="/create-room" method="post">
            <input type="text" id="roomname" name="roomname">
            <select id="category" name="category">
                <option th:each="categoryOpt : ${T(com.github.callmewaggs.youngwildfreelive.model.Category).values()}"
                        th:value="${categoryOpt}" th:text="${categoryOpt.getTitle()}">
            </select>
            <input type="submit" value="제출하기">
        </form>
    </div>
</section>
</body>
</html>

