<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="comm-layout">
<body>
<section layout:fragment="content">
    <div class="mdui-container" style="margin-bottom: 80px;">
        <form action="/create-room" method="post">
            <input type="text" id="roomName" name="roomName">
            <select id="category" name="category">
                <option th:each="categoryOpt : ${T(com.github.callmewaggs.youngwildfreelive.model.Category).values()}"
                        th:value="${categoryOpt}" th:text="${categoryOpt.getTitle()}">
            </select>
            <input type="submit" value="제출하기">
        </form>
    </div>
</section>
</body>
</html>

